/*

!/app
!/build
!/config
!/data
!/docs
!/private
!/public
!/setup
!/tests
!/*.dist
!/.gitignote
!/.scss-lint.yml
!/docker-compose.yml
!/docker-compose.development.yml
!/Dockerfile
!/Gruntfile.js
!/LICENSE
!/packackage-lock.json
!/package.json
!/README.md

/data/projects/.sshkeys