#header {
  background: rgba(0,0,100,0.9);
}

#header > span > a > span {
  display: none;
}

#header ul.dropdown-menu {
    background: rgba(35, 31, 45, 0.98);
}

.deploy-button-group.open #btn-deploy-options {
    background: #231f2d !important;
}

#header .button {
    border-left: 2px solid #3f2c6d;
    border-right: 2px solid #3f2c6d;
}

#header .button:hover {
    border-color: #2d195d;
}

#header li.open .button {
    background: #231f2d;
    border-color: #231f2d;
}

#header ul.dropdown-menu {
    background: #231f2d;
}

.ui-dialog .ui-dialog-titlebar {
    background: #683dc7;
    border-bottom: 1px solid #5a4383;
}

#btn-deploy.disabled {
    background: #312394;
}

#btn-deploy.disabled+#btn-deploy-options {
    background: rgba(112, 112, 162, 0.3);
}

#btn-deploy.disabled+#btn-deploy-options:hover {
    background: #9386d2;
}

.editor-tray-toolbar button.primary {
    border-color: #683dc7;
    background: #683dc7;
}
